<!-- Page Header-->
        <header class="masthead1" style="background-image: url('../images/headers/auth-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Iniciar Sesión</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>


<div class="formRideCreate">
    <form action="/auth/login" method="POST">
        <div>
            <label> Username
                <input type="text" name="username">
            </label>
        </div>    
        <div>
            <label> Password
                <input type="password" name="password">
            </label>
        </div>
        <div>
            <button class="btn btn-primary text-uppercase" type="submit">Submit</button>
        </div>
    </form>
<div>
    <img src="/images/patita.png" alt="patita">
</div>

</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}