<!-- Page Header-->
        <header class="masthead" style="background-image: url('images/headers/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Encuentra tu aventón perfecto</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>


{{!-- this file is only shown whenever there is an error during log out --}}
{{#if errorMessage}}
    {{errorMessage}}
{{/if}}