<!-- Page Header-->
        <header class="masthead1" style="background-image: url('../images/headers/auth-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>¡Bienvenido a la Familia!</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>

<div class="formRideCreate">
   <form action="/auth/signup" method="POST">
         <div>
            <label> Name
               <input type="text" name="name">
            </label>
         </div>
         <div>   
            <label> Username
               <input type="text" name="username">
            </label>
         </div>
         <div>   
            <label> Password
               <input type="password" name="password">
            </label>
         </div>
         <div>
            <label> Email
               <input type="email" name="email">
            </label>
         </div>
         <div>
            <label> Phone Number
               <input type="tel" name="phoneNumber">
            </label>
         </div>
         <div>
            <button type="submit">Create Account</button>
         </div>
   </form>
   <img src="/images/gato-saluda.png" alt="gato-img">
</div>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}