<form action="/register/car" method="POST">
   <label> Car Model: 
      <input type="text" name="model">
   </label>
   <label> What type of car is it?
   <input name="typeOfCar" list="typeOfCar">

<datalist id="typeOfCar">
  <option value="Hatchback">Hatchback</option>
  <option value="SUV">SUV</option>
  <option value="Sedan">Sedan</option>
  <option value="Mini SUV">Mini SUV</option>
  <option value="Van">Van</option>
  
</datalist>
   </label>
   
   <label> How many doors does it has?
      <input type="number" name="doors">
    </label>
   <label> How many seats does it have?
      <input type="text" name="seats">
    </label>
   
   
   
   <button type="submit">Register your Car</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}



