<!-- Page Header-->
        <header class="masthead1" style="background-image: url('../images/headers/cars-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Registra tu vehículo</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>


<form action="/register/car" method="POST">
   <label> ¿Qué modelo es? 
      <input type="text" name="model">
   </label>
   <label> ¿Qué tipo de coche es?
   <input name="typeOfCar" list="typeOfCar">

<datalist id="typeOfCar">
  <option value="Hatchback">Hatchback</option>
  <option value="SUV">SUV</option>
  <option value="Sedan">Sedan</option>
  <option value="Mini SUV">Mini SUV</option>
  <option value="Van">Van</option>
  
</datalist>
   </label>
   
   <label> ¿Cuántas puertas tiene?
      <input type="number" name="doors">
    </label>
   <label> ¿Cuántos asientos tiene?
      <input type="text" name="seats">
    </label>
   
   
   
   <button type="submit">Registra tu Coche</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}



