<!-- Page Header-->
        <header class="masthead1" style="background-image: url('../images/headers/cars-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Registra tu vehículo</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>


<div class="matrizFormCarCreate">
        <div>
            <img class="car-icon" src="../../public/images/icons/Hatchback.png" alt="hatckback-icon">
            <img class="car-icon" src="../../public/images/icons/Sedan.png" alt="sedan-icon">
            <img class="car-icon" src="../../public/images/icons/Mini Suv.png" alt="mini-suv-icon">
            <img class="car-icon" src="../../public/images/icons/SUV.png" alt="suv-icon">
            <img class="car-icon" src="../../public/images/icons/Van.png" alt="van-icon">
        </div>
        <div>
            <div class="formPetCreate">
                    <form action="/register/car" method="POST">
                <div>
                    <h3> ¿Qué modelo es? 
                        <input type="text" name="model">
                    </h3>
                </div>
                <div>    
                    <h3> ¿Qué tipo de coche es?
                    <select name="typeOfCar">
                        <option value="Hatchback">Hatchback</option>
                        <option value="Sedan">Sedan</option>
                        <option value="Mini SUV">Mini SUV</option>
                        <option value="SUV">SUV</option>
                        <option value="Van">Van</option>
                    </select>
                    </h3>
                </div>
                <div>
                    <h3> ¿Cuántas puertas tiene?
                        <input type="number" name="doors">
                    </h3>
                </div>
                <div>    
                    <h3> ¿Cuántos asientos tiene?
                        <input type="text" name="seats">
                    </h3>
                </div>

                <div>
                    <button class="btn btn-primary text-uppercase" type="submit">Registra tu Coche</button>
                </div>
                    </form>
            </div>
        </div>

</div>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}



