<form action="/register/pet" method="POST">
   <label> Nombre de tu Mascota
      <input type="text" name="petName">
   </label>
   <label> ¿Qué animal es?
      <input name="typeOfPet" list="kindOfPet">
      <datalist id="kindOfPet">
<option value="Perro"></option>
<option value="Gato"></option>

      </datalist>
   </label>
   <label> ¿De qué tamaño es?
   <input name="size" list="sizeOfPet">

<datalist id="sizeOfPet">
  <option value="Mini">Mini</option>
  <option value="Pequeño">Pequeño</option>
  <option value="Mediano">Mediano</option>
  <option value="Grande">Grande</option>
  
  
</datalist>
   </label>
   
   <button type="submit">Registra a tu amigo</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}