<!-- Page Header-->
        <header class="masthead1" style="background-image: url('../images/headers/pets-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Registra a tu peludo</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>


<div class="formPetCreate">
    <form action="/register/pet" method="POST">
        <div>
            <h3> Nombre de tu Mascota
                <input type="text" name="petName">
            </h3>
        </div>
        <div>    
            <h3> ¿Qué animal es?
                <select name="typeOfPet">
                    <option value="Perro">Perro</option>
                    <option value="Gato">Gato</option>
                </select>
            </h3>
        </div>
        <div>    
            <h3> ¿De qué tamaño es?
                <select name="size">
                    <option value="Mini">Mini</option>
                    <option value="Pequeño">Pequeño</option>
                    <option value="Mediano">Mediano</option>
                    <option value="Grande">Grande</option>
                </select>
            </h3> 
        </div>
        <div>
            <button class="btn btn-primary text-uppercase" type="submit">Añadir</button>
        </div>
    </form>
</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}