<!-- Page Header-->
        <header class="masthead" style="background-image: url('images/headers/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Pet Pet Rides</h1>
                            <span class="subheading">El Carpool de los Peludos Mochileros</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="masthead" style="background-color: #white">
            <div class="row gx-4 gx-lg-9 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-11">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/ride/search">
                            <h2 class="post-title">Encuentra el viaje perfecto</h2>
                        </a>
                        <form action="/ride/search.hbs" method="POST">
                            <label> Origen
                                <input type="text" name="origin">
                            </label>
                            <label> Destino
                                <input type="text" name="destination">
                            </label>
                            <label> Fecha
                                <input type="date" name="date">
                            </label>
                          
                        <button type="submit">Buscar</button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-4-1"/>

        <!-- Second Content-->
        <div class="masthead" style="background-image: url('images/headers/home-bg.jpg')">
            <div class="row gx-4 gx-lg-9 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-11">
                    <!-- Post preview-->
                    <div class="post-preview">
                       <a href="ride/search">
                            <h2 class="post-title">¿Cómo funciona?</h2>
                            <p>Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>