<!-- Page Header-->
        <header class="masthead" style="background-image: url('images/headers/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Pet Pet Rides</h1>
                            <span class="subheading">El Carpool de los Peludos Mochileros</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
    <div class="divBodySearch">
        <div class="masthead" style="background-color: #white">
            <div class="justify-content-center">
                <div>
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/ride/search">
                            <h2 class="post-title" style="text-align: center; margin-bottom: 25px">Encuentra el viaje perfecto</h2>
                        </a>
                        <form action="/ride/search.hbs" method="POST" style="margin-bottom: 100px">
                            <label> Origen
                                <input type="text" name="origin">
                            </label>
                            <label> Destino
                                <input type="text" name="destination">
                            </label>
                            <label> Fecha
                                <input type="date" name="date">
                            </label>
                          
                        <button type="submit">Buscar</button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
        

        <!-- Second Content-->
        <div class="cuadriculaIndex" style="background-color: #8accdc;">
        <div class="masthead">
            <div class="justify-content-center">
                <div>
                    <!-- Post preview-->
                    <div class="post-preview" style="max-width: 350px; text-align: center">
                        <img src="/images/icons/destino.png" alt="destino-icon" style="width: 50px; margin-top: 10px; margin-bottom: 15px">
                       <h2 class="post-title">¡Viaja con tu mascota!</h2>
                       <p>Viajar a otra ciudad con tu lomito ya no es un problema, hazlo
sin complicaciones reservando de manera sencilla y rápida.</p>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="masthead">
            <div class="justify-content-center">
                <div>
                    <!-- Post preview-->
                    <div class="post-preview" style="max-width: 350px; text-align: center">
                        <img src="/images/icons/escudo-seguro.png" alt="seguro-icon" style="width: 50px; margin-top: 10px; margin-bottom: 15px">
                       
                       <h2 class="post-title">Viajes Seguros</h2>
                       <p>Tu seguridad y la de tu mascota es primordial, por lo que tenemos un filtro
de verificación con los conductores para que sepas con quién viajas.</p>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="masthead">
            <div class="justify-content-center">
                <div>
                    <!-- Post preview-->
                    <div class="post-preview" style="max-width: 350px; text-align: center">
                        <img src="/images/icons/caja-de-panuelos.png" alt="panuelos-icon" style="width: 50px; margin-top: 10px; margin-bottom: 15px">
                       <h2 class="post-title">Tip de seguridad integral.</h2>
                       <p>Los conductores cuentan con
pañuelos y servilletas por si algún imprevisto con tu peludo llega a suceder.</p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>




<div class="masterGridAyuda">
    <div class="divisionMasterGridAyuda">
        <h2 style="margin-bottom: 25px;">¿Cómo comenzar a viajar?</h2>
    </div>
    <div class="divisionMasterGridAyuda">
        <div class="childMasterGridAyuda">
            <div class="grandsonMasterGridAyuda">
                <h4>Comienza publicando un viaje</h4>
                <p>Publicar un viaje compartido es muy fácil. Solo tienes que ingresar con tus datos e indicar el punto de origen y destino, la fecha y hora en las que saldrás, cuántos pasajeros puedes llevar y el precio por pasajeros. Además, podrás añadir la información que consideres que los pasajeros deben conocer. Una vez que hayas terminado, selecciona "Crear Viaje" y listo</p>
            </div>
            <div class="grandsonMasterGridAyuda">
                <h4>Reservar una Aventura</h4>
                <p>Puedes reservar un viaje compartido. Ingresa tu origen, destino, la fecha y elege la opción que mejor te vaya. ¡Es muy sencillo y práctico!</p>
            </div>
            
        </div>
        <div class="childMasterGridAyuda">
            <div class="grandsonMasterGridAyuda">
                <h4>¿Cuánto cuesta viajar con tu mascota?</h4>
                <p style="margin-bottom: 100px;">El valor de cada viaje varía y depende de la distancia y algunos factores que los conductores consideren. Pet pet rides es una nueva forma de viajar de manera accesible por lo que no tienes por qué preocuparte de precios excesivos.</p>
            </div>
            <div class="grandsonMasterGridAyuda">
                <h4>Forma de Pago</h4>
                <p>Buscar y reservar un viajes es gratuito, el único pago que se realiza es directamente con el conductor de tu viaje y se hará en efectivo cuando finalice tu viaje.</p>
            </div>
            
        </div>
    </div>


</div>













    



    