<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

<nav class="navbar">
{{#if isSession }}
  <div>
    <a href="/"><img src="../images/logo-perro.png" alt="logo"></a>
  </div>
  <div>
    <a href="/ride/search">Buscar un Viaje</a>
    <a href="/ride/create">Crear un Viaje</a>
  </div>
  <div>
    <a href="/userAssets/pets">Tus Mascotas</a>
    <a href="/userAssets/cars">Tus Vehiculos</a>
    <a href="/register/car">Añadir Vehiculo</a>
    <a href="/register/pet">Añadir Mascota</a>
  </div>
  <div>
    <a href="/auth/logout">Cerrar Sesion</a>
  </div>
{{else}}
<div>
<a href="/"><img src="../images/logo-perro.png" alt="logo"></a>
</div>
<div>
<a href="/ride/search">Buscar un Viaje</a>
</div>
<div>
<a href="/auth/login">Inicia Sesion</a>
  <a href="/auth/signup">Registrate</a>
</div>
{{/if}}
</nav>





    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>