<h2>Tus Mascotas</h2>
{{#each mascotasEncontradas}}


    <h4>
        {{petName}}
    </h4>
    <h4>{{typeOfPet}}</h4>
    <h4>Tamaño: {{size}}</h4>
    <hr>

{{/each}}

<a href="/register/pet">Añadir Mascota</a>









