<!-- Page Header-->
        <header class="masthead1" style="background-image: url('../images/headers/myrides-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Estos son tus viajes</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>




<div class="masterTrips">

<div class="masterTripsChild">
{{#each viajesEncontrados}}
   <div class="masterTripsGrandchild"> 
 
            <h5>
                Origen: {{origin}}
            </h5>
            <h5>Destino: {{destination}}</h5>
            <h5>Fecha: {{fecha date}}</h5>
        
   </div>
{{/each}}
</div>
        <div>
          <img class="imgPerro" src="/images/senalando.png" alt="perro-senalando">  
        </div>
</div>








