<form action="../ride/ride.hbs" method="POST">
   <label> Origin
      <input type="text" name="origin">
   </label>
   <label> Destination
      <input type="text" name="destination">
   </label>
   <label> Fecha
      <input type="date" name="fecha">
   </label>
   <label> Hora
      <input type="time" name="hora">
   </label>
   <label> Selecciona tu vehículo
   <input list="listOfCar">

<datalist id="listOfCar">
  <option value="Car 1">Coche 1</option>
  <option value="Car 2">Coche 2</option>

  
</datalist>
   </label>

   <button type="submit">Publish Trip</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}