<!-- Page Header-->
        <header class="masthead1" style="background-image: url('../../images/headers/search-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>¡Agarra tus maletas!</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>


<h3>¡Felicidades!</h3>
<h2>Haz apartado tu lugar y el de tu mascota en el viaje.</h2>

{{!-- 


Informacion del Viaje


 --}}