<h2>Tus Vehiculos</h2>
{{#each carrosRegistrados}}


    <h4>
        {{model}}
    </h4>
    <h4>Numero de puertas: {{doors}}</h4>
    <h4>Tipo de coche: {{typeOfCar}}</h4>
    <hr>

{{/each}}

<a href="/register/car">Añadir Vehiculo</a>









